@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

/* Global Styles */
:root {
  --primary: #143892;
  --secondary: #ff9900;
  --text: #2d2e32;
  --box-shadow: rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--text);
}

.container {
  padding: 80px 0;
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 28px;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.primary-color {
  color: var(--primary);
}

.secondary-color {
  color: var(--secondary);
}

/* Blobs */
.blob {
  position: absolute;
  z-index: -10;
}

.blob-header {
  right: -550px;
}

.blob-about {
  left: -550px;
  rotate: 220deg;
}

#home,
#about {
  position: relative;
}

/* Nav */
.nav {
  position: fixed;
  top: 16px;
  height: 80px;
  width: 100%;
  z-index: 2;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  background-color: white;
}

.nav__img__wrapper {
  height: 120px;
  width: 120px;
}

.nav__img {
  height: 100%;
}

.nav__links {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav__link {
  color: black;
  transition: 200ms ease-in;
}

.nav__link:hover {
  color: var(--primary);
  text-decoration: underline;
}

.nav__btn {
  font-weight: 600;
  padding: 12px 24px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 10px 15px 0px #8992B940;
  cursor: pointer;
  transition: 200ms ease-in;
}

.nav__btn:hover {
  box-shadow: 0px 10px 15px 0px #8992B970;
  background-color: #93a1db;
}

.nav__menu {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Menu */

.menu__wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 20;
  background-color: var(--box-shadow);
  backdrop-filter: blur(2px);
  justify-content: end;
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}

.open .menu__wrapper {
  visibility: visible;
  opacity: 1;
}

.menu {
  background-color: white;
  height: 100%;
  width: 100%;
  max-width: 320px;
  padding: 80px 16px;
  transform: translateX(100%);
  transition: 300ms ease;
}

.open .menu {
  transform: translateX(0%);
}

.menu__close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  transition: 200ms ease;
}

.menu__close:hover {
  background-color: #f3f4f6;
}

.menu__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu__link {
  width: 100%;
  padding: 12px 8px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  transition: 200ms ease;
}

.menu__link:hover {
  color: var(--secondary);
}

.menu__btn__wrapper {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 48px;
}

.menu__btn {
  background: var(--primary);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 200ms ease-in;
  width: 100%;
  height: 100%;
}

.menu__btn:hover {
  color: rgb(0, 0, 0);
}

.menu__btn:after {
  content: "";
  background: var(--secondary);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}


/* Home */
#home {
  height: 100vh;
  width: 100%;
  /*background-color: hsl(40 20% 95%)*/
}

.home__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.home__img__wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.home__img {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  position: relative;
  border: 3px solid var(--secondary);
  animation: morph 8s ease-in-out infinite;
  user-select: none;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.home__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.home__content__title {
  font-size: 36px;
  color: var(--secondary);
}

.home__content__subtitle {
  font-size: 28px;
  color: var(--text)
}

.home__content__infos {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 8px;
  gap: 4px;
}

.home__content__info {
  display: flex;
  gap: 16px;
  align-items: center;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.home__content__info__icon {
  color: var(--primary);
  font-size: 20px;
}

.home__scroll {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translatex(-50%);
  animation: homeScrollAnimate 700ms infinite alternate-reverse;
}

@keyframes homeScrollAnimate {
  0% {
    bottom: 32px
  }

  100% {
    bottom: 24px;
  }
}

/* About */
#about .container {
  padding: 5px 0;
}

.about__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__img__wrapper {
  max-width: 500px;
}

.about__img {
  height: 100%;
  width: 100%;
}

.about__content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.about__who {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 450px;
}

.about__who__title {
  font-size: 36px;
  color: var(--secondary);
}

.about__content__img__wrapper {
  width: 500px;
  height: 350px;
  position: relative;
  border-radius: 12px;
  border: 3px solid var(--primary);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.about__content__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Banner */
#banner {
  background-color: #2d2d2d;
}

.banner__container {
  width: 100%;
  height: 100%;
  padding: 56px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.banner__title {
  color: white;
  font-size: 42px;
  line-height: 1.2;
}

.banner__subtitle {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

/* Goals */

.goals__container {
  position: relative;
}

.goals__row {
  display: flex;
  gap: 20px;
}

.goals__goal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  width: 33.3333%
}

.goals__goal__title {
  font-size: 32px;
  font-weight: 800;
  color: var(--secondary)
}

.goals__goal__img__wrapper {
  width: 275px;
  height: 220px;
}

.goals__goal__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.goals__goal__para {
  margin-top: 5px;
  font-size: 18px;
  color: #706f7b;
}

/* Services */
#services {
  background-color: #f8f8f8;
}

.services__row {
  display: flex;
  gap: 100px;
  align-items: center;
}

.services__img__wrapper {
  width: 560px;
  height: 560px;
  position: relative;
  z-index: 1;
}

/*
.services__img__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary);
  top: 24px;
  right: 24px;
  z-index: -1;
}

.services__img__wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary);
  bottom: 24px;
  left: 24px;
  z-index: 1;
}
*/

.services__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.services__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services__content__text {
  width: 500px;
  height: 170px;
}

.services__content__title {
  font-size: 32px;
  color: var(--secondary);
}

.services__content__btns {
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  height: 50px;
}

.services__content__btn {
  width: 33.3%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #f8f8f8;
  font-size: 17px;
  transition: 300ms ease-in;
  font-weight: 700;
}

.services__content__btn:nth-child(2) {
  border-right: 1px dotted var(--primary);
  border-left: 1px dotted var(--primary);
}

.services__content__btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.services__content__text__title {
  font-size: 24px;
  color: var(--primary);
}

.services__content__text__list {
  display: flex;
  flex-direction: column;
}

.services__content__text__list__para {
  font-size: 16px;
  font-weight: 500;
}

.services__content__additional {
  display: flex;
  flex-direction: column;
}

.services__content__additional__title {
  text-align: center;
  color: var(--primary);
}

.services__content__additional__list {
  display: flex;
  flex-direction: column;
}

.services__content__additional__list__para {
  font-weight: 400;
  color: #706f7b;
}

.services__content__additional__list__para::marker {
  color: black;
}

/*
.services__btn__wrapper {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  max-width: 300px;
}

.services__btn {
  font-weight: 600;
  
  font-size: 22px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 10px 15px 0px #8992B940;
  cursor: pointer;
  transition: 200ms ease-in;
  width: 100%;
  height: 100%;
}

.services__btn:hover {
  box-shadow: 0px 10px 15px 0px #8992B970;
  background-color: #93a1db;
}
*/
.services__btn__wrapper {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  max-width: 300px;
}

.services__btn {
  padding: 18px 36px;
  margin: 15px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 200ms ease-in;
}

.services__btn:hover {
  color: rgb(0, 0, 0);
}

.services__btn:after {
  content: "";
  background: var(--secondary);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Contact */
.contact__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.contact__options {
  display: flex;
  text-align: center;
  width: 100%;
  gap: 54px;
}

.contact__option {
  display: flex;
  flex-direction: column;
  width: 33.333%;
  gap: 36px
}

.contact__option__title {
  background-color: var(--secondary);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  font-size: 28px;
  padding: 8px 0px;
}

.contact__option__title2 {
  background-color: var(--primary);
}

.contact__option__info {
  font-size: 20px;
  font-weight: 600;
  height: 100%;
  text-shadow: 1px 1px 2px #2d2d2d;
}

.contact__option__info__btn {
  margin: 0 auto;
  width: 50px;
  border-radius: 8px;
}

.contact__option__info__link {
  width: 100%;
  height: 100%;
}

/* Footer */

#footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  margin-top: 50px;
  z-index: 89999999;
}

.social-icon,
.footer__menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.footer__menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.footer__menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.footer__menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

/* Large screens */
@media (max-width: 1280px) {
  .nav {
    top: 0;
  }

  .nav__container {
    border-radius: 0px;
    max-width: 100%;
  }

  .nav__img__wrapper {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 768px) {

  /* Blob */
  .blob-header {
    right: -660px;
  }
}

/* Small Screens */
@media (max-width: 640px) {

  /* Nav bar */
  .nav__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }


}

@media(max-width: 480px) {}